<div class="modal-content">
  <div class="modal-header">
    <div class="content-wrapper">
      <h5 class="modal-title">{{ data.fromLanguage }}</h5>
      <button class="btn btn-vintage" (click)="copyToClipboard(data.inputText)">
        Copy
      </button>
    </div>
  </div>
  <div class="modal-body">
    <p>{{ data.inputText }}</p>
  </div>
  <div class="modal-header">
    <div class="content-wrapper">
      <h5 class="modal-title">{{ data.toLanguage }}</h5>
      <button
        class="btn btn-vintage"
        (click)="copyToClipboard(data.translatedText)"
      >
        Copy
      </button>
    </div>
  </div>
  <div class="modal-body">
    <p>{{ data.translatedText }}</p>
  </div>
</div>
