<div *ngIf="isCmaeraExist; else noCameraExist">
  <div style="text-align: center">
    <div class="btn-group">
      <button type="button" class="btn btn-primary" (click)="takeSnapshot()">
        Take Picture
      </button>
      <button
        type="button"
        class="btn btn-primary"
        (click)="onOffWebCame()"
      >
        Toggle Camera
      </button>
      <button type="button" class="btn btn-primary" (click)="changeWebCame(true)">
        Switch camera
      </button>
    </div>
    <div class="videoMask">
      <webcam
        [height]="500"
        [width]="1000"
        *ngIf='showWebcam'
        [trigger]="triggerObservable"
        (imageCapture)="handleImage($event)"
        [switchCamera]="nextWebcamObservable"
      ></webcam>
    </div>
  </div>
  <div *ngIf="errors.length > 0">
    <h4>Errors:</h4>
    <ul *ngFor="let error of errors">
      <li>{{ error | json }}</li>
    </ul>
  </div>
</div>
<ng-template #noCameraExist> Camera Device not Available </ng-template>
