/* src/app/welcome/welcome.component.css */

.container {
  max-width: 1200px;
}

img {
  max-width: 100%;
  height: auto;
}

.mb-4 {
  margin-bottom: 1.5rem;
}

.feature-card {
  text-align: center;
  padding: 1.5rem;
  border: 2px solid #c0c0c0; /* Vintage border color */
  background-color: #f8f8f8; /* Vintage background color */
  border-radius: 8px;
}

.feature-card img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 1rem;
}

h1,
h4 {
  font-family: "Times New Roman", Times, serif; /* Vintage font */
  color: #555; /* Vintage text color */
}
h1 {
  font-size: 36px;
  font-weight: bold;
}

p {
  font-family: "Times New Roman", Times, serif; /* Vintage font */
  color: #777; /* Vintage text color */
}

.lead {
  background-color: #ffffff; /* Background color */
  padding: 10px; /* Optional: Add padding for better visibility */
  border-radius: 5px; /* Optional: Add border-radius for rounded corners */
  display: inline-block; /* Optional: Make the background color only as wide as the text */
}
