<!-- login-modal.component.html -->

<div class="modal">
  <div class="modal-content" (click)="stopPropagation($event)">
    <button class="close-button" (click)="closeModal()">X</button>
    <h2 *ngIf="!isSignUp">Login</h2>
    <h2 *ngIf="isSignUp">SignUp</h2>
    <h1 class="redFlag" *ngIf="showError">{{errorMessaje}}</h1>
    <form (submit)="login()">
      <button  *ngIf="!isSignUp" type="submit">Login</button>
      <button  *ngIf="isSignUp" type="submit">SignUp</button>

      <label for="username">Username:</label>
      <input
        type="text"
        id="username"
        name="username"
        [(ngModel)]="username"
        required
      />

      <label *ngIf="isSignUp" for="email">Email:</label>
      <input
        *ngIf="isSignUp"
        type="email"
        id="email"
        name="email"
        [(ngModel)]="email"
        required
      />

      <app-camera
        (booleanValueChange)="receiveBoolean($event)"
        (getPicture)="handleImage($event)"
      ></app-camera>
      <img [src]="imageUrl" class="imgSmall" *ngIf="receivedBoolean && imageUrl" alt="Image" />

    </form>
  </div>
</div>
