/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-image: url("src/assets/vintage-bg.jpg"); /* Adjust the path based on your project structure */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  background-color: #8b4513;
}
@media only screen and (max-width: 767px) {
  body::before {
    background-attachment: center top; /* Optional: Prevent background scrolling on mobile */
  }
}
